@model Projeto_Loja_Sapatos.Models.Venda

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_modelo" class="control-label">Código de referência</label>
                <select asp-for="id_modelo" class ="form-control" asp-items="ViewBag.id_modelo"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_cliente" class="control-label">CPF</label>
                <select asp-for="id_cliente" class ="form-control" asp-items="ViewBag.id_cliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtVenda" class="control-label"></label>
                <input asp-for="dtVenda" class="form-control" />
                <span asp-validation-for="dtVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
